.body {
    margin: 1em;
    text-align: center;
}

.speed, .rpm, .temp, .throttle, .load, .unit {
    display: inline-flex;
}

.speed-card {
    border-radius: 24px;
    margin-bottom: 1em;
    background-position: top;
}

.speed {
    margin-right: .25em;
    font-size: 4em;
}

.kmh {
    color: #BBE;
}

.rpm-card {
    border-radius: 24px;
    margin-bottom: 1em;
    background-position: bottom;
}

.rpm {
    margin-right: .25em;
    font-size: 4em;
}

.min-1 {
    color: #BCB;
}

.temp-card {
    border-radius: 24px;
    margin-bottom: 1em;
}

.temp {
    margin-right: .25em;
    font-size: 4em;
}

.celsius {
    color: #FBB;
}

.throttle-card {
    border-radius: 24px;
    margin-bottom: 1em;
}

.throttle {
    margin-right: .25em;
    font-size: 4em;
}

.percent {
    color: #BBB;
}

.load-card {
    border-radius: 24px;
    margin-bottom: 1em;
}

.load {
    margin-right: .25em;
    font-size: 4em;
}

img {
    width: 75%;
    margin-bottom: 1em;
}

mat-icon {
    font-size: 3em;
    vertical-align: baseline;
    margin-right: 1em;
}

.plaid {
    background-image: url(../../assets/tesla-plaid.gif);
    background-size: 100% 200%;
    background-repeat: no-repeat;
    color: yellow;
}