<div class="body" *ngIf="obd">
    <mat-card class="speed-card" [class]="obd.speed > 80 ? 'plaid':''">
        <mat-icon>speed</mat-icon>
        <div class="speed">{{ obd.speed | number: '1.0-0'}}</div> <div class="unit kmh">km/h</div>
    </mat-card>
    <mat-card class="rpm-card" [class]="obd.speed > 80 ? 'plaid':''">
        <mat-icon>rotate_right</mat-icon>
        <div class="rpm">{{ obd.rpm | number: '1.0-0'}}</div> <div class="unit min-1">min⁻¹</div>
    </mat-card>
    <mat-card class="gear-card">
        <mat-icon>settings</mat-icon>
        <div class="gear" *ngIf="obd.speed < 1">-</div>
        <div class="gear" *ngIf="120 < obd.rpm/obd.speed">1</div>
        <div class="gear" *ngIf="69 < obd.rpm/obd.speed && obd.rpm/obd.speed < 75">2</div>
        <div class="gear" *ngIf="47 < obd.rpm/obd.speed && obd.rpm/obd.speed < 51">3</div>
        <div class="gear" *ngIf="34 < obd.rpm/obd.speed && obd.rpm/obd.speed < 37">4</div>
        <div class="gear" *ngIf="27 < obd.rpm/obd.speed && obd.rpm/obd.speed < 30">5</div>
        <mat-icon class="shift-down" *ngIf="!(120 < obd.rpm/obd.speed) && obd.speed > 5 && obd.rpm < 1200">arrow_downward</mat-icon>
        <mat-icon class="shift-up" *ngIf="!(27 < obd.rpm/obd.speed && obd.rpm/obd.speed < 30) && obd.rpm > 2000">arrow_upward</mat-icon>
    </mat-card>
    <mat-card class="temp-card">
        <mat-icon>thermostat</mat-icon>
        <div class="temp">{{ obd.coolantTemp | number: '1.0-0'}}</div> <div class="unit celsius">°C</div>
    </mat-card>
    <mat-card class="throttle-card">
        <mat-icon *ngIf="obd.throttlePos < 20">airline_seat_legroom_reduced</mat-icon>
        <mat-icon *ngIf="obd.throttlePos >= 20 && obd.throttlePos < 60">airline_seat_legroom_normal</mat-icon>
        <mat-icon *ngIf="obd.throttlePos >= 70">airline_seat_legroom_extra</mat-icon>
        <div class="throttle">{{ obd.throttlePos | number: '1.0-0'}}</div> <div class="unit percent">%</div>
    </mat-card>
    <mat-card class="load-card">
        <mat-icon>bolt</mat-icon>
        <div class="load">{{ obd.engineLoad | number: '1.0-0'}}</div> <div class="unit percent">%</div>
    </mat-card>
</div>